html, body {
	margin:0;
	padding:0;
}
html {
  font-family: 'Be Vietnam', sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-image: url('background.jpg');
background-repeat: no-repeat;
background-size: cover;
}
#headerh1 {
	color:#192052;
	padding-top:10%;
	padding-bottom:0%;
	margin-bottom:1%;
}
#but{
	font-size:1.6rem;
  width:90%;
  color:#192052;
  border-color:#192052;
  border-style: solid;
  background-color:transparent;
	padding-top:1%;
	padding-bottom:1%;
	margin-bottom:2%;
	margin-top:0%;

}
#but:hover {
  color:white;
  background-color:#192052;
  border-color:#192052;
}
#bottom{
	font-size:1.6rem;
  width:90%;
  color:#192052;
  border-color:#192052;
  border-style: solid;
  background-color:transparent;
	padding-top:1%;
	padding-bottom:1%;
	margin-top:0%;
margin-bottom:40rem;
}
#bottom:hover {
  color:white;
  background-color:#192052;
  border-color:#192052;
}
#foot {
	padding:0;
	margin:0;
}
a {
  text-decoration:none;
  color:#192052;
}
.mono {
	color:#192052;
	padding:0%;
	margin:0%;
}
#made {
	color:#192052;
	padding:0%;
	margin:0%;
}
