html, body {
	margin:0;
	padding:0;
}
html {
  font-family: 'Lato', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  background-color:#e3effb;
}
#headerh1 {
	padding-top:10%;
}
#headerp {
	padding-bottom:10%;
}

button{
  padding-bottom:5%;
  padding-top:5%;
  width:50%;
  color:white;
  border-color:#192052;
  border-style: solid;
  background-color:#192052;
  margin-bottom:5%;
}
button:hover {
  color:#192052;
  background-color:white;
  border-color:#192052;
}
#foot {
	padding:0;
	margin:0;
}